<div style="margin-top: 10px;">
  <div style="display: flex; gap: 20px; flex-wrap: wrap;">
    <div>
      <div class="muted">カウント済み棋譜数</div>
      <div style="font-size: 1.5em;">
        {% if sum_games %}
        <code>{{ sum_games }}</code>
        {% else %}
        <code>0</code>
        {% endif %}
      </div>
    </div>
    <div>
      <div class="muted">数え終わり予想時間</div>
      <div style="font-size: 1.5em;">
        {% if estimated_remaining %}
        <code>{{ estimated_remaining | safe }}</code>
        {% else %}
        <code></code>
        {% endif %}
      </div>
    </div>
  </div>
</div>
